body::-webkit-scrollbar
{
    display: none;
}
.log-body
{
    padding-top: 8rem;
    height: 80vh;
    width: 100vw;
    padding-bottom: 2rem;
}
.log-history
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.log-history-setting
{
    width: 95%;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.log-history-setting-sort-div
{
    display: flex;
    
    margin-left: 10px;
    align-items: center;
}
.log-history-output
{
    background-color: inherit;
    width: 100%;
    position: relative;
    height: 100%;
}
.log-history-output-history,.log-history-output-favourite
{
    width: 100%;
    background-color: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    padding: 10px 0;
    overflow-y: scroll;
    border-bottom: 1px solid #555 ;
    border-top: 1px solid #555 ;
    box-shadow: inset 4px 0px 10px #666,inset -4px 0px 10px #666;
}
.infinite-scroll-component__outerdiv
{
    width: 100%;
    padding-bottom: 3rem ;
}
.log-history-output-history-content
{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 900px) {
    .log-history-setting-sort-div span
    {
        font-size: .6rem;
    }
}