.main-body{
    background-color: aqua;
    width: 100%;
    position: fixed;
    transition: height 300ms ease-in-out;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.navbar-svg
{
    width: 5rem;
}
.navbar-loading-div
{
    width: 100%;
    height: 1.5px;
    position: absolute;
    top: 0;
    background-color: transparent;
}
.navbar-loading-bar
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: turquoise;
    transform-origin: left;
    transition: transform 200ms ease-in-out;
}
.navbar-links
{
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');
.navbar-links__link
{
    margin: 0 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}
/* .navbar-links__link:hover,.navbar-links__link:focus
{
    text-shadow: 2px 2px 3px rgb(88, 88, 88);
    outline: none;
} */
.navbar-theme-togle
{
    width: 2rem;
    height: 2rem;
    margin-left:3rem;
}
.navbar-credentials
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-loggedin-div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.circle-image
{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    position: relative;
}
.circle-image img
{
    border:1px solid transparent;
    border-radius: 100%;
    height: 2.9rem;
    width: 2.9rem;
}
.circle-image span,.navbar-small-window span
{
    text-align: left;
    overflow: hidden;
    font-size: .6rem;
    font-weight: 700;
    margin-left: 5px;
}
.circle-image__image
{
    position: relative;
}
.temp-user-discord-logo
{
    color:#5a6fb9 ;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%,-20%);
    font-size: 1.3rem;
}
.navbar-loggedin-div button,.navbar-small-window button
{
    background-color: #00bfff;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;

    font-weight: 400;
    color: #fff;
}
.navbar-loggedin-div button:hover,.navbar-small-window button:hover
{
    background-color: #56d2fc;
}

.navbar-login
{
    background-color: #00bfff;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;

    font-weight: 400;
    color: #fff;
}
.navbar-login:hover,.navbar-login:focus
{
    background-color: rgb(0, 163, 163);
}
.navbar-small-window
{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    align-items: center;
    padding: 5px 10px;
}
.navbar-small-window span
{
    margin: 0;
    color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');
.navbar-brandname
{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    z-index: 2;
    text-transform: uppercase;
    display: none;
}
.navlinks-mobile
{
    width: 100%;
    position: absolute;
    background-color: aqua;
    z-index: -999;
    display: none;
    height: 40%;
    transition: all 400ms ease-in-out;
}
.navlinks-mobile a
{
    margin: 0 20px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: .6rem;
    margin: auto 10px;
    cursor: pointer;
}
.navbarlinks-mobile span:hover,.navbarlinks-mobile span:focus
{
    text-shadow: 2px 2px 3px rgb(99, 99, 99);
}

@media only screen and (max-width: 900px) {
    .navbar-svg
    {
        width: 4rem;
    }
    .circle-image
    {
        margin: 0;
    }
    .navbar-links span
    {
        margin: 0 5px;
        font-size: .65rem;
    }
    .navbar-theme-togle
    {
        width: 3rem;
        height: 2rem;
        margin-left:1rem;
    }
    .navbar-login
    {
        width: 4.5rem;
        font-size: .8rem;
    }
    .navbar-links
    {
        display: none;
    }
    .navlinks-mobile
    {
        display: block;
    }
    .navbar-brandname
    {
        display: block;
    }
}