.front-page-bot
{
    position: relative;
}
#wheel-1_1_
{
    fill: #444 !important;
    transform-origin: center;
    transform-box: fill-box;
    animation: wheel-spin-f 10s linear none infinite;
}
#wheel-2_1_
{
    transform-origin: center;
    transform-box: fill-box;
    animation: wheel-spin-b 10s linear none infinite;
}
#wheel-5_1_
{
    transform-origin: center;
    transform-box: fill-box;
    animation: wheel-spin-f 8s linear none infinite;
}
#wheel-4_1_
{
    transform-origin: center;
    transform-box: fill-box;
    animation: wheel-spin-f 6s linear none infinite;
}
#wheel-3_1_
{
    transform-origin: center;
    transform-box: fill-box;
    animation: wheel-spin-b 10s linear none infinite;
}
#discord-logo_1_
{
    transform-origin: center;
    transform-box: fill-box;
    animation: discord-logo-spin 8s ease-in-out none infinite;
}
@keyframes wheel-spin-f {
    0%
    {
        transform: rotateZ(0);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}
@keyframes wheel-spin-b {
    0%
    {
        transform: rotateZ(0);
    }
    100%
    {
        transform: rotateZ(-360deg);
    }
}
@keyframes discord-logo-spin {
    0%
    {
        transform:scaleX(1) rotateZ(0);
    }
    5%
    {
        transform:scaleX(1.1) rotateZ(-360deg);
    }
    5.1%
    {
        transform:scaleX(1) rotateZ(0deg);
    }
}
#message-drop_1_
{
    transform-origin: center;
    transform-box: fill-box;
    animation: message-drop 5s linear none infinite;
}
@keyframes message-drop {
    0%
    {
        opacity: 0;
    }
    10%{

        opacity: .3;
    }
    49%
    {
        opacity: 1;
        transform: translate(0,550%) rotateZ(30deg) scaleY(1);
    }
    50%
    {
        opacity: 1;
        transform: translate(0,550%) rotateZ(30deg) scaleY(.8);

    }
    55%
    {
        transform: translate(0,550%) rotateZ(30deg) scaleY(1);
    }
    100%
    {
        transform: translate(500%,550%) rotateZ(30deg) scaleY(1);
        opacity: 0;
    }
}
#eye_3_
{
    transform-origin: bottom;
    transform-box: fill-box;
    animation: fontpagebot-eye-move 10s ease-in-out none infinite;
}
@keyframes fontpagebot-eye-move {
    0%
    {
        transform:scaleY(1) translateX(0%);
    }
    5%
    {
        transform:scaleY(1) translateX(10%);
    }
    10%{
        transform:scaleY(1) translateX(0);
    }
    12%
    {
        transform:scaleY(.2) translateX(0);
    }
    14%
    {
        transform:scaleY(1) translateX(0);
    }
    15%
    {
        transform:scaleY(.5) translateX(0);
    }
    16%
    {
        transform:scaleY(1) translateX(0);
    }
    100%
    {
        transform:scaleZ(1) translateX(0%);
    }
}