@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
.home-full-div
{
    position: relative;
    top: 0;
}
.home-intro
{
    width: 100%;
    height: 60rem;
    position: relative;
}
.home-intro__title
{
    padding-top: 10rem;
    text-align: left;
    position: relative;
    width: 80%;
    left: 10%;
}
.home-intro__title h1
{
    letter-spacing: 3px;
    text-transform: capitalize;
    word-spacing: .7rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3rem;
    margin: 0;
}
.home-intro__title h2
{
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    font-size: 1.2rem;
    font-weight: 400;
}
.bot-div
{
    width: 50%;
    position: relative;
    padding-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}
.home-intro__add-div
{
    padding-top: 3rem;
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');
.home-intro__add-div h1
{
    text-transform: capitalize;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 500;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap');
.home-intro__add-div span:nth-child(2),.home-intro__add-div span:nth-child(3)
{
    padding: .5rem 2rem; 
    margin: 0 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-family: 'Oswald', sans-serif;
}
.home-intro__add-div span:nth-child(2)::before,.home-intro__add-div span:nth-child(3)::before
{
    content: '';
    background-color: gray;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
}
.home-intro__add-div span:nth-child(2):hover::before,.home-intro__add-div span:nth-child(3):hover::before,
.home-intro__add-div span:nth-child(2):focus::before,.home-intro__add-div span:nth-child(3):focus::before
{
    transform: scaleX(1);
}
.home-learn-more
{
    height: 40rem;
}
@media only screen and (max-width: 900px) {
    .bot-div
    {
        width: 85%;
    }
    .home-intro__title h1
    {
        font-size: 2rem;
    }
    .home-intro__title h2
    {
        font-size: .8rem;
    }
    .home-intro__add-div
    {
        width: 90%;
    }
    .home-intro__add-div span:nth-child(2),.home-intro__add-div span:nth-child(3)
    {
        margin: 0 1rem;
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }
}