.usercard-fulldiv
{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 2px 10px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
}
.usercard-fulldiv p
{
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 400;
    cursor: default;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}
.usercard-fulldiv img
{
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid transparent;
    border-radius: 100%;
}
.usercard-closeDiv
{
    cursor: pointer;
    color: #545454;
    font-size: .8rem;
}
.usercard-closeDiv:hover
{
    color: rgb(255, 82, 82);
}
@media only screen and (max-width: 1200px) {
}