.channelbutton-fulldiv
{
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0 10px;
    justify-content: center;
    margin: 5px;
    border-radius: 5px;
}
.channelbutton-fulldiv h2
{
    margin: 0 15px 0 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    cursor: default;
}